@import "tailwindcss";

@theme inline {
  --color-primary: #ec4899;      /* Pink */
  --color-primary-dark: #db2777;
  --color-secondary: #a855f7;    /* Purple */
  --color-accent: #f59e0b;       /* Gold */
  --color-background-soft: #fbf5fc;
  --font-sans: 'Inter', sans-serif;
}

:root {
  --background: #faf5f9;
  --foreground: #1e293b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Utilities */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #fdfaff inset !important;
}
